* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}