.banner-container {
  background: #ffffff; /* luego cambias el color */
  min-height: 2rem; 
  padding: 6rem 0 2rem 0; /* padding-top: 6rem, padding-bottom: 2rem */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  background: #121780;
  width: 97%;
  padding: 2rem 1rem; /* padding interno vertical más compacto */
  max-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  gap: 1.2rem;
}

/* Logo */
.banner-logo {
  width: 6rem;
  height: auto;
  object-fit: contain;
}

/* Título */
.banner-title {
  font-size: 4rem;
  color: white;
  font-weight: 800;
}

/* Imagen */
.banner-image {
  width:80%;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .banner-content {
    padding: 2rem 1rem;
  }

  .banner-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .banner-image {
    width: 100%;
    max-height: 40vh;
  }
}
